<style type="text/css">
    div.poll {
        margin-left: 180px;
        margin-right: 180px
    }
</style>
<div class="content-section-a">
    <div class="container">
        <div class="poll">
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->